li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}
label {
  user-select: none;
}

  img {
    height: 22px;
    transition: transform 0.4s;
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
  }
