header {
  margin: 20px 0 25px 0;
  display: grid;
  grid-template-columns: 1fr 730px;
  @media screen and (max-width: 1150px) {
    grid-template-columns: 1fr;
  }

  .header-container {
    .infos-mkt {
      background: rgba(20, 20, 20, 0.85);
      padding: 10px;
      border-radius: 14px;
      display: grid;
      align-items: center;
      backdrop-filter: blur(3px);
      border-bottom: 2px solid red;
    }
    .global-mkt {
      display: flex;

      p {
        margin-left: 5px;
        font-size: 1.1rem;
      }
    }
    .infos-mkt {
      @media screen and (max-width: 1150px) {
        margin-right: 0;
      }
    }
    .table-filters {
      grid-area: c;
      margin-top: 10px;

      .table-filters-container {
        display: flex;
        background: black;
        border-radius: 10px;
        padding: 4px;
        justify-content: space-between;
        border-bottom: 1px solid red;

        .stable-checkbox-container {
          display: flex;
          align-items: center;

          #stableCoin {
            display: none;

            &:checked {
              ~ label {
                background: black;
              }
            }
            ~ label {
              transition: 0.15s;
              padding: 2px 10px;
              border-radius: 10px;
              cursor: pointer;

              &:hover {
                filter: brightness(130%);
              }
            }
          }
        }

        .no-list-btn,
        .fav-list {
          transition: 0.15s;
          border-radius: 10px;
          padding: 2px 10px;
          cursor: pointer;
          &:hover {
            filter: brightness(130%);
          }

          &.active {
            background: black;
          }
        }

        .fav-list {
          display: flex;
          align-items: center;

          img {
            height: 14px;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .global-chart {
    border-radius: 14px;
    overflow: hidden;

    @media screen and (max-width: 1150px) {
      display: none;
    }

    text {
      font-size: 0.8rem !important;
      letter-spacing: 1px;
    }
    .custom-tooltip {
      background: rgb(59, 59, 59);
      padding: 10px;
    }
  }
}
