// NAVBAR LATERAL MENU

.openNav {
    transform: translateX(0);
}
.transition-timing {
    transition-timing-function : cubic-bezier(.01,.35,.64,.94);
    transition-duration: 0.5s;
}
.open-nav-content {
    transition-timing-function : ease-out;
    transition-duration: 0.7s;
    transition-delay: 0.5s;
}
.bg-move {
    animation: gradient 10s ease infinite;
    background-size: 300% 300%;
    background-attachment: fixed;
}
.icon-move {
    animation: gradient 10s ease infinite;
    background-size: 300% 300%;
    background-attachment: fixed;
}
.bg-home {
    background-image: url(/bg-home.png);
    background-blend-mode: soft-light;
}
.fade-in {
    animation: 3s lineUp ease-out;
}

@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

// NAVBAR SUPERIEURE HOVER
.nav-wrapper {
  transition: background-color 2000ms;

  &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1);

      /* Show .nav-content when hovering over .nav-wrapper */
      .nav-content {
          opacity: 1;
          background-color: transparent;
      }
  }
}

.nav-content {
  background-color: white;
  padding: 10px;
  transition: opacity 0.3s;
  opacity: 0;
  width: 100%;
  z-index: 1; /* Ensure it's above .nav-wrapper when visible */
}

// APPARITION DES ELEMENTS AU REVEAL/SCROLL
.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0!important;
    animation: none!important;
    transition: 0s!important;
  }
  
  .reveal-loaded [class*="reveal-"]{
    animation: revealAnimation 3s cubic-bezier(.5, 0, 0, 1) both;
  }
  
  .reveal-loaded .reveal-2 {
    animation-delay: .1s;
  }
  
  .reveal-loaded .reveal-3 {
    animation-delay: .2s;
  }
  
  .reveal-loaded .reveal-4 {
    animation-delay: .3s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .reveal-loaded  [class*="reveal-"] {
      animation: none!important;
    }
  }
  
  @keyframes revealAnimation {
    0% {
      opacity: 0;
      transform: translateY(300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }