.swiper {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.properties-swiper {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}